# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\学习记录\my_work_progress\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
